<div class="col-md-8 disciplina-container">
  <h2 style="margin: auto"> Listagem de Disciplinas</h2>
  <div *ngIf="errorText" class="alert alert-danger">
    <span>{{errorText}}</span>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <form [formGroup]="form">
          <span>Curso:</span>
          <select formControlName="filtroCurso" name="filtroCurso" id="filtroCurso" class="form-control">
            <option *ngFor="let c of cursos" [ngValue]="c.id">{{c.nome}}</option>
          </select>
        </form>
      </div>
    </div>
    <div class="col-md-4">
      <button class="btn btn-primary" (click)="filter()"> Filtar</button>
    </div>
  </div>
  <button class="btn btn-danger add-btn" (click)="addDisciplina()"> Adicionar Disciplina</button>
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">Id</th>
      <th>Nome</th>
      <th>Id do Curso</th>
      <th>Curso</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let disciplina of disciplinas">
      <td class="hidden">{{disciplina.id}}</td>
      <td>{{disciplina.nome}}</td>
      <td>{{disciplina.curso.id}}</td>
      <td>{{disciplina.curso.nome}}</td>
      <td><button class="btn btn-success" (click)="deleteDisciplina(disciplina)"> Deletar</button>
        <button class="btn btn-success" (click)="editDisciplina(disciplina)" style="margin-left: 20px;"> Editar</button></td>
    </tr>
    </tbody>
  </table>
</div>
