<div class="col-md-8 disciplina-container">
  <h2 style="margin: auto"> Listagem de Disciplinas</h2>
  <div *ngIf="errorText" class="alert alert-danger">
    <span>{{errorText}}</span>
  </div>
  <button class="btn btn-danger" style="width:200px" (click)="addDisciplina()"> Adicionar Disciplina</button>
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">Id</th>
      <th>Nome</th>
      <th>Id do Curso</th>
      <th>Curso</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let disciplina of disciplinas">
      <td class="hidden">{{disciplina.id}}</td>
      <td>{{disciplina.nome}}</td>
      <td>{{disciplina.curso.id}}</td>
      <td>{{disciplina.curso.nome}}</td>
      <td><button class="btn btn-success" (click)="deleteDisciplina(disciplina)"> Deletar</button>
        <button class="btn btn-success" (click)="editDisciplina(disciplina)" style="margin-left: 20px;"> Editar</button></td>
    </tr>
    </tbody>
  </table>
</div>
