<div class="col-md-8 user-container">
  <h2 style="margin: auto"> Listagem de Usuários</h2>
  <button class="btn btn-danger add-btn" (click)="addUser()"> Adicionar Usuário</button>
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">Id</th>
      <th>Primeiro Nome</th>
      <th>Último Nome</th>
      <th>UserName</th>
      <th>Idade</th>
      <th>Salário</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td class="hidden">{{user.id}}</td>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.username}}</td>
      <td>{{user.age}}</td>
      <td>{{user.salary}}</td>
      <td><button class="btn btn-success" (click)="deleteUser(user)"> Deletar</button>
        <button class="btn btn-success" (click)="editUser(user)" style="margin-left: 20px;"> Editar</button></td>
    </tr>
    </tbody>
  </table>
</div>
