<div class="col-md-8 user-container">
  <h2 class="text-center">Adicionar Matricula</h2>
  <div *ngIf="errorText" class="alert alert-danger">
    <span>{{errorText}}</span>
  </div>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="form-group">
      <label for="id_aluno">Aluno:</label>
      <select formControlName="id_aluno" name="id_aluno" id="id_aluno" class="form-control">
        <option value="0" disabled selected hidden>Aluno</option>
        <option *ngFor="let a of alunos" [ngValue]="a.id">{{a.nome}}</option>
      </select>
      <div *ngIf="id_aluno.invalid && submitted"
          class="invalid-feedback">
        <div *ngIf="id_aluno.errors.required">
          Id de aluno é obrigatório!
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="id_curso">Curso:</label>
      <select formControlName="id_curso" name="id_curso" id="id_curso" class="form-control">
        <option value="0" disabled selected hidden>Curso</option>
        <option *ngFor="let c of cursos" [ngValue]="c.id">{{c.nome}}</option>
      </select>
      <div *ngIf="id_curso.invalid && submitted"
          class="invalid-feedback">
        <div *ngIf="id_curso.errors.required">
          Id de curso é obrigatório!
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="turno">Turno:</label>
      <select formControlName="turno" name="turno" id="turno" placeholder="Turno" class="form-control">
        <option *ngFor="let t of turnos" [ngValue]="t.valor">{{t.nome}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="data_matricula">Data de matrícula:</label>
      <input type="date" formControlName="data_matricula" placeholder="Data de matrícula" name="data_matricula" class="form-control" id="data_matricula">
    </div>

    <button class="btn btn-success">Salvar</button>
  </form>
</div>
