<div class="col-md-8 user-container">
  <h2 class="text-center">Editar Matricula</h2>
  <div *ngIf="errorText" class="alert alert-danger">
    <span>{{errorText}}</span>
  </div>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nome_aluno">Aluno:</label>
      <input type="text" formControlName="nome_aluno" placeholder="Aluno" name="nome_aluno" class="form-control" id="nome_aluno" readonly="true">
    </div>

    <div class="form-group">
      <label for="nome_curso">Curso:</label>
      <input type="text" formControlName="nome_curso" placeholder="Curso" name="nome_curso" class="form-control" id="nome_curso" readonly="true">
    </div>

    <div class="form-group">
      <label for="turno">Turno:</label>
      <select formControlName="turno" name="turno" id="turno" placeholder="Turno" class="form-control">
        <option *ngFor="let t of turnos" [ngValue]="t.valor">{{t.nome}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="data_matricula">Data de matrícula:</label>
      <input type="date" formControlName="data_matricula" placeholder="Data de matrícula" name="data_matricula" class="form-control" id="data_matricula">
    </div>

    <button class="btn btn-success">Atualizar</button>
  </form>
</div>
