<div class="col-md-8 user-container">
  <h2 class="text-center">Adicionar Disciplina</h2>
  <div *ngIf="errorText" class="alert alert-danger">
    <span>{{errorText}}</span>
  </div>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="form-group">
      <label for="nome">Nome:</label>
      <input type="text" formControlName="nome" placeholder="Nome" name="nome" class="form-control" id="nome" [ngClass]="{ 'is-invalid': submitted && nome.errors }">
      <div *ngIf="nome.invalid && submitted"
          class="invalid-feedback">
        <div *ngIf="nome.errors.required">
          Nome é obrigatório!
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="id_curso">Curso:</label>
      <select formControlName="id_curso" name="id_curso" id="id_curso" class="form-control">
        <option value="0" disabled selected hidden>Curso</option>
        <option *ngFor="let c of cursos" [ngValue]="c.id">{{c.nome}}</option>
      </select>
      <div *ngIf="id_curso.invalid && submitted"
          class="invalid-feedback">
        <div *ngIf="id_curso.errors.required">
          Id de curso é obrigatório!
        </div>
      </div>
    </div>

    <button class="btn btn-success">Salvar</button>
  </form>
</div>
