<div class="col-md-8 aluno-container">
  <h2 style="margin: auto"> Listagem de Alunos</h2>
  <button class="btn btn-danger add-btn" (click)="addAluno()"> Adicionar Aluno</button>
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">Id</th>
      <th>Nome</th>
      <th>CPF</th>
      <th>E-mail</th>
      <th>Data de nascimento</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let aluno of alunos">
      <td class="hidden">{{aluno.id}}</td>
      <td>{{aluno.nome}}</td>
      <td>{{aluno.cpf}}</td>
      <td>{{aluno.email}}</td>
      <td>{{aluno.data_nascimento | date: 'dd/MM/yyyy'}}</td>
      <td><button class="btn btn-success" (click)="deleteAluno(aluno)"> Deletar</button>
        <button class="btn btn-success" (click)="editAluno(aluno)" style="margin-left: 20px;"> Editar</button></td>
    </tr>
    </tbody>
  </table>
</div>
